@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Poppins:wght@300;400;500;700&family=Rubik+Iso&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.nav {
  padding: 5px 0;
  margin: 0;
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.1);
}
.nav-menu {
  display: flex;
  margin: 10px 0px 10px auto; /* pozycjonowanie linków używając marginesów */
  width: 55%;
  justify-content: space-evenly;
  list-style: none;
}
.nav-menu a {
  margin: 3px;
  text-decoration: none;
  color: black;
  opacity: 0.7;
  font-size: 1.2rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
.nav-menu a:hover {
  color: lightgreen;
  opacity: 1;
  text-decoration: underline;
  transition: all 0.25s;
}

#intro-section { /*dodanie obrazka jako tło */
  height: 300px;
  background-image: url(https://cdn.pixabay.com/photo/2015/12/04/14/05/code-1076536_1280.jpg);
  background-size: cover;
}

#hello-section {
  margin: 50px;
  display: flex;
  justify-content: center;
  width: 80%;
}
#hello-section img {
  max-width: 100%;
}

.message {
  display: flex;
  margin: 20px;
  padding: 50px;
  width: 500px;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  text-align: center;
}

#about-section {
  scroll-margin-top: 50px;
  padding-top: 2.3rem;
}
#about-section .about {
  display: flex;
  justify-content: center;
}
#about-section .about .info {
  display: block;
  font-size: 1.5rem;
  text-align: left;
}

.heading {
  font-size: 2rem;
  text-align: center;
}

#skills-section {
  scroll-margin-top: 50px;
  padding: 10px;
  background-color: black;
  color: white;
}
#skills-section .skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}
#skills-section .skills-info {
  text-align: center;
  padding: 2rem;
}
#skills-section .skills-info-name {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}
#skills-section .skills-info progress {
  border: 1px solid white;
  background-color: white;
}
#skills-section .skills-info progress::-webkit-progress-value {
  background-color: white;
  border-radius: 0;
}
#skills-section .skills-info progress::-webkit-progress-bar {
  background-color: black;
}

#projects-section {
  scroll-margin-top: 80px;
}
#projects-section .projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px;
}
#projects-section .projects-imagebox {
  margin: 5px;
  text-align: center;
}
#projects-section .projects-imagebox a {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}
#projects-section .projects-imagebox a img {
  width: 500px;
  height: 300px;
}

#contact-section {
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 50px;
  padding: 20px;
}
#contact-section .contact {
  display: flex;
  justify-content: space-evenly;
}
#contact-section .contact a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}
#contact-section .contact a:hover {
  color: lightgreen;
  opacity: 1;
  transition: all 0.25s;
}/*# sourceMappingURL=main.css.map */